<header data-bs-theme="dark">
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Centro Artesanal UG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
                <div>
                    <!--LLAMADA AL MODAL-->
                    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Acceder</button>
                </div>
            </div>
        </div>
    </nav>
</header>

<!--MODAL-->
<div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <!--CONTENIDO DEL MODAL-->
        <div class="modal-content">
            <!--CABECERA-->
            <!--<div class="modal-header">-->
            <!--TITULO-->
            <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Bienvenido de nuevo!</h1> -->
            <!--ICONO DE CIERRE DE LA CABERA-->
            <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <!--</div>-->
            <!--CUERPO-->
            <div class="modal-body">
                <div class="container col-xl-10 px-1 py-5">
                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Centro de Formación Artesanal UG</h1>
                            <p class="col-lg-10 fs-4">Ingrese las credenciales de acceso proporcionadas por el Centro de Formación Artesanal UG</p>
                        </div>
                        <div class="col-md-10 mx-auto col-lg-6">
                            <form [formGroup]="formulario" class="p-4 p-md-5 border rounded-3 bg-body-tertiary" (ngSubmit)="acceder()">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="name@example.com">
                                    <label for="correo" class="form-label">Dirección de email</label>
                                    <div *ngIf="formulario?.get('correo')?.invalid && formulario?.get('correo')?.touched" class="text-danger">
                                        <div *ngIf="formulario?.get('correo')?.errors?.['required']">El correo es requerido.</div>
                                        <div *ngIf="formulario?.get('correo')?.errors?.['email']">El correo debe tener un formato válido.</div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="contraseña" formControlName="contraseña" placeholder="Password">
                                    <label for="contraseña">Contraseña</label>
                                    <div *ngIf="formulario?.get('contraseña')?.invalid && formulario?.get('contraseña')?.touched" class="text-danger">
                                        <div *ngIf="formulario?.get('contraseña')?.errors?.['required']">La contraseña es requerida.</div>
                                    </div>
                                </div>
                                <div class="checkbox mb-3">
                                    <label>
                                      <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Acceder</button>
                                <hr class="my-4">
                                <small class="text-body-secondary">Considere que previamente debió ser registrado por el Centro Artesanal UG.</small>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--PIE-->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Acceder</button>
            </div> -->
        </div>
    </div>
</div>