<div class="container mt-3 p-2 m-2">
    <div class="container table-responsive">
        <h1>Horario para sus clases</h1>
        <table class="table table-striped table-custom-rounded mt-3">

            <thead class="table">
                <tr>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Módulo</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miércoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sábado</th>
                    <th scope="col">Domingo</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                <tr *ngFor="let horario_docente of horario_docentes | async" >
                    <td>{{ obtenerNombreAsignatura(horario_docente.asignatura_idasignatura) }}</td>
                    <td>{{ obtenerNombreModulo(horario_docente.modulo_idmodulo) }}</td>
                    <td>{{ horario_docente.lunes }}</td>
                    <td>{{ horario_docente.martes }}</td>
                    <td>{{ horario_docente.miercoles }}</td>
                    <td>{{ horario_docente.jueves }}</td>
                    <td>{{ horario_docente.viernes }}</td>
                    <td>{{ horario_docente.sabado }}</td>
                    <td>{{ horario_docente.domingo }}</td>
                </tr>
                <!-- <tr>
                    <td scope="row"><strong>Mantenimiento de computadoras</strong></td>
                    <td scope="row">Módulo 1</td>
                    <td scope="row">10:00 - 12:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                    <td scope="row">12:00 - 14:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                </tr> -->
            </tbody>

        </table>
    </div>
</div>