<div class="container">
    <div class="col-md-13 table-responsive">
        <div class="horario_estudiante">
            <p>Horarios del estudiante</p>
        </div>
        <table class="table table-striped table-custom-rounded">
            <thead class="table">
                <tr>
                    <th scope="col" class="col-3">Asignatura</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miércoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sábado</th>
                    <th scope="col">Domingo</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td scope="row"><strong>Mantenimiento de computadoras</strong></td>
                    <td scope="row">10:00 - 12:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                    <td scope="row">12:00 - 14:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                </tr>
                <tr>
                    <td scope="row"><strong>Robotica</strong></td>
                    <td scope="row">-</td>
                    <td scope="row">13:00 - 14:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                    <td scope="row">12:00 - 14:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                </tr>
                <tr>
                    <td scope="row"><strong>Desarrollo Web</strong></td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                    <td scope="row">18:00 - 20:00</td>
                    <td scope="row">-</td>
                    <td scope="row"></td>
                    <td scope="row">-</td>
                    <td scope="row">7:00 - 9:00</td>
                </tr>
                <tr>
                    <td scope="row"><strong>Ingles</strong></td>
                    <td scope="row">-</td>
                    <td scope="row">10:00 - 12:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                    <td scope="row">7:00 - 9:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                </tr>
                <tr>
                    <td scope="row"><strong>Cableado estructurado</strong></td>
                    <td scope="row">-</td>
                    <td scope="row">12:00 - 14:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                    <td scope="row">10:00 - 12:00</td>
                    <td scope="row">-</td>
                    <td scope="row">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>