<div class="container mt-3">
    <div class="col-md-13 table-responsive">
        <h1>Calificaciones del estudiante</h1>
        <table class="table table-striped table-custom-rounded mt-3">

            <thead class="table">
                <tr>
                    <th scope="col" class="col-2">Asignatura</th>
                    <th scope="col" class="col-1">Módulo</th>
                    <th scope="col" class="col-1">Nota 1 Parcial</th>
                    <th scope="col" class="col-1">Nota 2 Parcial</th>
                    <th scope="col" class="col-1">Promedio</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let calificacion of calificaciones | async" >
                    <td>{{ obtenerNombreAsignatura(calificacion.asignatura_idasignatura) }}</td>
                    <td>{{ calificacion.modulo_idmodulo }}</td>
                    <td>{{ calificacion.nota_1p | number: '1.2-2' }}</td>
                    <td>{{ calificacion.nota_2p | number: '1.2-2' }}</td>
                    <td>{{ calificacion.promedio | number: '1.2-2' }}</td>
                </tr>
                <!-- <tr>
                    <td scope="row"><strong>Mantenimiento de computadoras</strong></td>
                    <td scope="row">Modulo 1</td>
                    <td scope="row">7.50</td>
                    <td scope="row">8.90</td>
                    <td scope="row">8.20</td>
                </tr> -->
            </tbody>

        </table>
    </div>
</div>