<div class="container mt-3">
    <div class="row flex-wrap align-content">
        <h1>Asignación de salarios</h1>
        <p>Para asignar un salario dependerá del título universitario y del tipo de contrato que tenga con el Centro
            Artesanal UG mediante las siguientes métricas:</p>
        <div class="col-6 col-sm-12 col-md-6">
            <div class="card mt-2 mb-4">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Título universitario</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Remuneración</th>
                                <th>Turnos</th>
                                <th>Título universitario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <td>60% del docente titular</td>
                                <td>Rotativo</td>
                                <td>Tercer nivel <strong>(hasta que se capacite en un master afín a las materias del
                                        Centro de Formación)</strong></td>
                            </tr>
                            <tr class="align-middle table-primary">
                                <td>80% del docente ocasional</td>
                                <td>Fijo</td>
                                <td>Cuarto nivel sin afinidad <strong>(hasta que se capacite en un master afín y si es
                                        afín el 100%.)</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-12 col-md-6">
            <div class="card mt-2 mb-4">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Contrato con el Centro de Formación</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Contrato</th>
                                <th>Tiempo</th>
                                <th>Remuneración</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <td>Contrato u ocasional</td>
                                <td>Completo</td>
                                <td>$1,600.00</td>
                            </tr>
                            <tr class="align-middle table-primary">
                                <td>Nombramiento</td>
                                <td>Completo</td>
                                <td>$2,100.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mt-2 mb-4">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Sueldo</h5>
                    <div class="d-flex justify-content-center align-items-center" style="height: 180px;">
                        <h1 class="display-1">$2,100.00</h1> <!-- Aquí se mostrará el promedio general -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mt-2 mb-4">
                <div class="alert alert-info d-flex align-items-center justify-content-center" role="alert" style="height: 50px;">
                    Usted aplica con el siguiente salario!
                </div>
            </div>
        </div>
    </div>
</div>