<div class="container mt-3">
    <div class="row flex-wrap align-content">
        
        <h1>Asignación de salarios</h1>
        <p>Para asignar un salario dependerá del título universitario y del tipo de contrato que tenga con el Centro
            Artesanal UG mediante las siguientes métricas:</p>
        <div class="col-6 col-sm-12 col-md-6">
            <div class="card mt-2 mb-4">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Título universitario</h5>
                    <table class="table">

                        <thead>
                            <tr>
                                <th>Remuneración</th>
                                <th>Turnos</th>
                                <th>Título universitario</th>
                            </tr>
                        </thead>

                        <tbody>
                            <ng-container *ngFor="let titul of titulosUniversitarios let i = index" class="align-middle">
                                <tr [ngClass]="{ 'table-primary': turnoAplicado === titul.turno }">
                                    <td>
                                        {{ titul.remuneracion }}% del docente 
                                        {{ i === 0 ? titul.textAdd : titul.textAdd }}
                                    </td>
                                    <td>{{ titul.turno }}</td>
                                    <td>
                                        {{ titul.titulo }} <strong>(hasta que se capacite en un master afín 
                                        {{ i === 0 ? titul.textAdd2 : titul.textAdd2 }})</strong>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-12 col-md-6">
            <div class="card mt-2 mb-4">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Contrato con el Centro de Formación</h5>
                    <table class="table">

                        <thead>
                            <tr>
                                <th>Contrato</th>
                                <th>Tiempo</th>
                                <th>Remuneración</th>
                            </tr>
                        </thead>

                        <tbody>
                            <ng-container *ngFor="let contr of contratosCentroFormacion" class="align-middle">
                                <tr [ngClass]="{'table-primary': salarioAplicado === contr.pagoFinal }">
                                    <td>{{ contr.contrato }}</td>
                                    <td>{{ contr.tiempo }}</td>
                                    <td>${{ contr.pagoFinal }}</td>
                                </tr>
                            </ng-container>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="card mt-2 mb-4">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Sueldo mensual</h5>
                    <div class="d-flex justify-content-center align-items-center" style="height: 180px;">
                        <h1 class="display-1">${{ salarioAplicado }}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mt-2 mb-4">
                <div class="alert alert-info d-flex align-items-center justify-content-center" role="alert"
                    style="height: 50px;">
                    ¡Usted aplica con el siguiente salario!
                </div>
            </div>
        </div>

    </div>
</div>