<header class="navbar bg-dark flex-md-nowrap p-0 shadow fixed-top">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Centro Artesanal UG</a>
    <ul class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>
        </li>
    </ul>
    <button type="button" class="btn btn-warning btn-sm" routerLink="/home">Cerrar sesión</button>
</header>

<!--CONTENEDOR PRINCIPAL-->
<div class="container-fluid">
    <div class="content-container mt-4">
        <!--FILA-->
        <div class="container-fluid">
            <div class="row">
                <!--1ERA COLUMNA(col-lg-2)-->
                <div class="sidebar col-2 p-0 menu">
                    <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="sidebarMenu"
                        aria-labelledby="sidebarMenuLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="sidebarMenuLabel">Centro Artesanal UG</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                data-bs-target="#sidebarMenu" aria-label="Close"></button>
                        </div>
                        <div>
                            <ul class="nav card flex-column d-flex align-items-justify gap-1">
                                <li class="nav-item mt-1">
                                    <a class="nav-link d-flex align-items-center gap-3" aria-current="page"
                                        (click)="llama_horario_docente()">
                                        <i class="bi bi-calendar2-check"></i>
                                        Horarios de clases
                                    </a>
                                    <!-- Separador -->
                                    <hr class="my-2">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-3" 
                                        (click)="llama_salario()">
                                        <i class="bi bi-currency-dollar"></i>
                                        Salario
                                    </a>
                                    <!-- Separador -->
                                    <hr class="my-2">
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-3" 
                                        (click)="llama_ingreso_calificaciones()">
                                        <i class="bi bi-journal-check"></i>
                                        Ingresar calificaciones
                                    </a>
                                    <!-- Separador -->
                                    <hr class="my-2">
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center gap-3 mb-2" 
                                        (click)="llama_perfil_docente()">
                                        <i class="bi bi-person-circle"></i>
                                        Perfil
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--2DA COLUMNA(col-lg-10)-->
                <div class="container-fluid col-10 menu-2">
                    <div class="card menu-2-1">
                        <div class="p-5 rounded-3 border-0" *ngIf="mostrarBienvenida">
                            <div class="row">
                                <div class="container p-2 col-md-12">
                                    <h4 class="display-5 fw-bold mb-3">
                                        Bienvenido al Centro de Formación Artesanal UG...!!!
                                    </h4>
                                    <p class="fs-4">
                                        Usted se ha identificado como un <strong>docente.</strong> A continuación puede navegar entre 
                                        las opciones disponibles del sistema.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <app-profesores-horarios *ngIf="mostrarHorarioDocente"></app-profesores-horarios>
                        <app-profesores-salario *ngIf="mostrarSalario"></app-profesores-salario>
                        <app-profesores-ingreso-calificaciones *ngIf="mostrarIngCalificaciones"></app-profesores-ingreso-calificaciones>
                        <app-profesores-perfil *ngIf="mostrarPerfilDocente"></app-profesores-perfil>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>