<div class="container">
    <div class="p-5 rounded-3 border-0">
        <div class="row">
            <div class="container p-2 col-md-8">
                <h4 class="display-6 fw-bold mb-3">
                    Esta cursando el primer módulo
                </h4>
                <p class="col-md-11 fs-4">
                    El plan de estudios de nuestro programa incluye una variedad de módulos diseñados para brindar
                    a los estudiantes una formación integral en diversas áreas relevantes.
                </p>
            </div>
            <div class="container py-5 col-4 img-mod1 mt-2"></div>
        </div>
    </div>
</div>