<div class="container mt-3">
    <div class="row">
        <h1>Asuntos de Becas</h1>
        <p>Para asuntos de becas, el estudiante presentará su cartilla de notas. Por lo cual se realizarán los siguientes descuentos:</p>
        <div class="col-sm-6">
            <div class="card mt-2 mb-4">
                <div class="card-body">

                    <h5 class="card-title">Descuentos por promedio</h5>
                    <table class="table">

                        <thead>
                            <tr>
                                <th>Promedio</th>
                                <th>Descuento</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>10.00</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td>9.50</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td>9.00</td>
                                <td>10%</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="card mt-2 mb-4">
                <div class="card-body">
                    <h5 class="card-title">Promedio General</h5>
                    <div class="d-flex justify-content-center align-items-center" style="height: 180px;">
                        <h1 class="display-1">8.00</h1> <!-- Aquí se mostrará el promedio general -->
                    </div>
                </div>
            </div>
        </div>
        <!--Contenedor del aviso-->
        <div class="col">
            <!--Aqui aviso-->
            <div class="alert alert-warning d-flex align-items-center justify-content-center" role="alert">
                Usted no aplica ningún tipo de descuento!
            </div>
        </div>
    </div>
</div>